
@Styles.Render("~/Content/About.css")
<title>
    About | TheNorthernHandyman
</title>

<!--Container-->
<div class="container-fluid">
   
  
    <!--- Main Area Text --->
    <!--Container-->
    <div class="block block-bg-gradient">

        <div class="container-fluid">
            <!--Row-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">

                        <!--About Header with star-->
                        <h1 class="white-border-bottom hidden-xs">
                            <span class="glyphicon glyphicon-star"></span> About Us
                        </h1>
                        <!--/About Header with star-->
                        <!--About Paragraph 1-->
                        <p>
                            Northern Handyman is a home based business with over 30 years of experience.
                            We have the capabilities to fill all your <strong> Commercial </strong> or <strong> Residential </strong>
                            landscaping needs. This Business is centered around focusing on doing the job right the
                            FIRST time while being safety conscious and curtious. Northern Handyman is flexible
                            to accommodate what works best for it's clients and with over 10 years of services provided,
                            we always strive to make sure the customer is completely satisfied.
                        </p>
                        <!--/About Paragraph 1-->
                        <!--Discounted Advertisment-->
                        <p>
                            <!--Highlighted-->
                            <mark>
                                <strong>*SPECIAL*</strong>
                                Ask About our 10% Discount for Veterans and Senior Citizens! Or Our 20% for disabled.
                            </mark>
                            <!--/Highlighted-->

                        </p>
                        <!--/Discounted Advertisment-->
                        <!--About Paragraph 2-->
                        <p>
                            The Northern Handyman is a business that will go
                            beyond your summer season needs by providing you with affordable snow removal
                            services during the cold winter seasons.  We provide affordable all-year-round services Or just one
                            time seasonal services. If needed we can haul away debris. We do not leave it lying around.
                            We offer topsoil and provide seeding when necessary.</br>
                            </br>
                            <!--Underlined -->
                            <em>
                                <u>With over 30 years of Experience</u>
                            </em>, Our customers list consists of
                            <em>
                                <u>commercial and residential clients</u>
                            </em>. Needless to say, we put
                            <u>
                                <em>Customer satisfaction as our primary goal</em>
                            </u>.
                            <!--Underlined -->
                        </p>
                        <!--/About Paragraph 2-->
                        <!--Filler Words-->
                        <p >
                            So, if you are looking for the best quality and the best value of tree service in Your Area, look no further.<br>
                            <!--Quote link to contact Page-->
                            <a href=@Url.Action("Contact", "Home") >
                                Simply click here to request a FREE quote!
                            </a>
                            <!--/Quote Link to Contact Page-->

                        </p>
                        <p class="text-center">


                            <!--Filler Words-->
                            <strong>
                                Feel free to contact us for any services listed on our Services page.<br />
                            </strong>We are Fully insured
                            
                                and our company strongly believes in the Value of 
                            <Strong>
                                Customer satisfaction .
                            </Strong>
                            <!--/Filler Words-->
                        </p>

                    </div>

                    <!--- /Main Area Text --->
                    <!--- Service Coulum--->
                    <div class="col-xs-12 col-sm-4">
                        <br />
                        <br />

                        <!--Tree Icon-->
                        <h2 class="white-border-bottom ">
                            <span class="glyphicon glyphicon-tree-deciduous"></span><a href='@Url.Action("TreeRemoval", "Services")'>Our Services </a>
</h2>
                        <!--/Tree Icon-->
                        <!--The List Of Services -->
                        <ul>

                            <li>
                                    Stump Removal
                            </li>
                            
                            <li>
                                    Storm Damage Clean Up
                            </li>
                            <li>
                                    Brush &amp; Shrub Care
                            </li>
                        
                            <li>
                                    Limb Removal
                            </li>
                            <li>
                                    Driveway Structure Repair
                                                         </li>
                            <li>
                                    Lot Clearing
                            </li>
                            <li>Snow Removal
                            </li>
                            <li>
                                    Skid Steer Work
                            </li>
                            <li>
                                    Mowing
                            </li>
                        </ul>
                        <!--- /The List Of Services --->

                    </div>
                    <!--- Service Coulum--->

                </div>
            </div>
            <!--/Row-->
            <!-- /About Section -->


            <hr />

        </div>
        <!--/Container-->
    </div>
    <!---/ Main Area Text --->


</div>
<!--/Container-->
<!--FooterImage-->

        <footer>
           
        </footer>
        <!--/FooterImage-->

        <script>


        </script>
