
@{
    ViewBag.Title = "Albums";
}

<title>
    Photos | TheNorthernHandyman
</title>

<!-- Page Content -->

<div class="container">

    <div class="row">
        <nav id="filter" class="col-md-12 text-center">
            <ul>
                <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Skid Steer">Skid Steer</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Landscape Design">Landscape Design</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Landscape Maintance">Landscape Maintance</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Snow Removal">Snow Removal</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Tree Removal">Tree Removal</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Storm Relief">Storm Relief</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Storm Relief">Equipment</a></li>
            </ul>
        </nav>
        <div class="col-md-12">
            <div class="row">
                <div class="portfolio-items isotopeWrapper clearfix" id="3">

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                <img src="~/img/Equipment/Claw/SkidSteerAttachment.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/Claw/SkidSteerAttachment.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                <img src="~/img/Equipment/Claw/SkidSteerBlacktop.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/Claw/SkidSteerBlacktop.PNG"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Equipment/Claw/SkidSteerBlacktopCrushed.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/Claw/SkidSteerBlacktopCrushed.PNG"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/Claw/SkidSteerPipeAir.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/Claw/SkidSteerPipeAir.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Equipment/Leaf Removal/CoverPhoto.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Leaf Removal</a></h5>
                                    <a href="~/img/Equipment/Leaf Removal/CoverPhoto.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Equipment/Mowing/Equipment2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Mowing</a></h5>
                                    <a href="~/img/Equipment/Mowing/Equipment2.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/Dad.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Equipment/Dad.PNG"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Equipment/Equipment.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Equipment/Equipment.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item"><div class="wow bounceIn">
                                <img src="~/img/Equipment/Equipment2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Equipment/Equipment2.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/IMG_20190103_165656.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Equipment/IMG_20190103_165656.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Equipment/NewTruck.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Equipment/NewTruck.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/received_2106023299458964.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Equipment/received_2106023299458964.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Equipment/Mowing/LawnCare.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Mowing</a></h5>
                                    <a href="~/img/Equipment/Mowing/LawnCare.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Equipment/Trimming/Trimming_Boom.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Trimming</a></h5>
                                    <a href="~/img/Equipment/Trimming/Trimming_Boom.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Equipment">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Equipment/Trimming/Trimming_Boom2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Trimming</a></h5>
                                    <a href="~/img/Equipment/Trimming/Trimming_Boom2.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/Skid Steer/SkidSteer.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#"> Skid Steer </a></h5>
                                    <a href="~/img/Equipment/Skid Steer/SkidSteer.PNG"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Equipment/SnowBlower/SnowBlower.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Snow Blower</a></h5>
                                    <a href="~/img/Equipment/SnowBlower/SnowBlower.PNG"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/SnowBlower/Snow_210x280.png" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Snow Blower</a></h5>
                                    <a href="~/img/Equipment/SnowBlower/Snow_210x280.png" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Equipment/Sweeper/Sweeper.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Sweeper</a></h5>
                                    <a href="~/img/Equipment/Sweeper/Sweeper.PNG"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Equipment/Sweeper/SweeperClean.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Sweeper</a></h5>
                                    <a href="~/img/Equipment/Sweeper/SweeperClean.PNG"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/Sweeper/SweeperDirt.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Sweeper</a></h5>
                                    <a href="~/img/Equipment/Sweeper/SweeperDirt.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/Sweeper/SweeperDust.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Sweeper</a></h5>
                                    <a href="~/img/Equipment/Sweeper/SweeperDust.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/Sweeper/SweeperSide.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Sweeper</a></h5>
                                    <a href="~/img/Equipment/Sweeper/SweeperSide.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
    
            <article class="col-md-4 isotopeItem Landscape Design">
                <div class="portfolio-item">
                    <div class="wow rotateInUpLeft" data-animation-delay="4.8s">

                        <img src="~/img/ApartmentPatio/1.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#">ApartmentPatio</a></h5>
                            <a href="~/img/ApartmentPatio/1.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>

                </div>
            </article>

            <article class="col-md-4 isotopeItem Landscape Design">
                <div class="portfolio-item">
                    <div class="wow rotateInUpLeft" data-animation-delay="4.8s">

                        <img src="~/img/ApartmentPatio/2.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#">ApartmentPatio</a></h5>
                            <a href="~/img/ApartmentPatio/2.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>

                </div>
            </article>

            <article class="col-md-4 isotopeItem Landscape Design">
                <div class="portfolio-item">
                    <div class="wow bounceIn">
                        <img src="~/img/ApartmentPatio/3.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#">ApartmentPatio</a></h5>
                            <a href="~/img/ApartmentPatio/3.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="col-md-4 isotopeItem Landscape Design">
                <div class="portfolio-item">
                    <div class="wow rotateInDownRight">
                        <img src="~/img/ApartmentPatio/4.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#">ApartmentPatio</a></h5>
                            <a href="~/img/ApartmentPatio/4.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>
                    <article class="col-md-4 isotopeItem Landscape Design">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Projects/FirePit_1of1.png" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">FirePit</a></h5>
                                    <a href="~/img/Projects/FirePit_1of1.png" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Landscape Design">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Projects/FirePit_1of2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">FirePit</a></h5>
                                    <a href="~/img/Projects/FirePit_1of2.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Landscape Design">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Projects/FirePit_2of2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">FirePit</a></h5>
                                    <a href="~/img/Projects/FirePit_2of2.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Landscape Design">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Projects/RetainingWall_1of3.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">RetainingWall</a></h5>
                                    <a href="~/img/Projects/RetainingWall_1of3.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Landscape Design">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Projects/RetainingWall_2of3.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">RetainingWall</a></h5>
                                    <a href="~/img/Projects/RetainingWall_2of3.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Landscape Design">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Projects/RetainingWall_3of3.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">RetainingWall</a></h5>
                                    <a href="~/img/Projects/RetainingWall_3of3.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>


            <article class="col-md-4 isotopeItem Landscape Maintance">
                <div class="portfolio-item">
                    <div class="wow rotateInDownRight">
                        <img src="~/img/Brush Remoal-Hogging/PileofBrush.jpg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"></a></h5>
                            <a href="~/img/Brush Remoal-Hogging/PileofBrush.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-4 isotopeItem Skid Steer ">
                <div class="portfolio-item">
                    <div class="wow rotateInDownRight">
                        <img src="~/img/DrivewayReconstruction/1.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"> DrivewayReconstruction</a></h5>
                            <a href="~/img/DrivewayReconstruction/1.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-4 isotopeItem Skid Steer">
                <div class="portfolio-item">
                    <div class="wow bounceIn">
                       <img src="~/img/DrivewayReconstruction/2.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"> DrivewayReconstruction</a></h5>
                            <a href="~/img/DrivewayReconstruction/2.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-4 isotopeItem Skid Steer">
                <div class="portfolio-item">
                    <div class="wow rotateInDownRight">
                        <img src="~/img/DrivewayReconstruction/3.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"> DrivewayReconstruction </a></h5>
                            <a href="~/img/DrivewayReconstruction/3.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-4 isotopeItem Skid Steer">
                <div class="portfolio-item">
                    <div class="wow rotateInDownRight"> <img src="~/img/DrivewayReconstruction/4.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"> DrivewayReconstruction </a></h5>
                            <a href="~/img/DrivewayReconstruction/4.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-4 isotopeItem Skid Steer">
                <div class="portfolio-item">
                    <div class="wow bounceIn">
                        <img src="~/img/DrivewayReconstruction/5.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"> DrivewayReconstruction</a></h5>
                            <a href="~/img/DrivewayReconstruction/5.jpeg" /> class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-4 isotopeItem Skid Steer">
                <div class="portfolio-item">
                    <div class="wow rotateInUpLeft">
                        <img src="~/img/DrivewayReconstruction/6.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"> DrivewayReconstruction</a></h5>
                            <a href="~/img/DrivewayReconstruction/6.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="col-md-4 isotopeItem Skid Steer">
                <div class="portfolio-item">
                    <div class="wow rotateInUpLeft">
                        <img src="~/img/DrivewayReconstruction/7.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#"> DrivewayReconstruction</a></h5>
                            <a href="~/img/DrivewayReconstruction/7.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-4 isotopeItem Storm Relief">
                <div class="portfolio-item">
                    <div class="wow bounceIn">
                        <img src="~/img/StormCleanUp/StormCleanUp-1/1.jpg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#">StormCleanUp-1</a></h5>
                            <a href="~/img/StormCleanUp/StormCleanUp-1/1.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>
                    <article class="col-md-4 isotopeItem Storm Relief">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/StormCleanUp/StormCleanUp-1/2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">StormCleanUp-1</a></h5>
                                    <a href="~/img/StormCleanUp/StormCleanUp-1/2.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Storm Relief">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/StormCleanUp/StormCleanUp-1/3.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">StormCleanUp-1</a></h5>
                                    <a href="~/img/StormCleanUp/StormCleanUp-1/3.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Storm Relief">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/StormCleanUp/StormCleanUp-1/4.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">StormCleanUp-1</a></h5>
                                    <a href="~/img/StormCleanUp/StormCleanUp-1/4.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Storm Relief">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/StormCleanUp/StormCleanUp-1/5.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">StormCleanUp-1</a></h5>
                                    <a href="~/img/StormCleanUp/StormCleanUp-1/5.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Storm Relief">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/StormCleanUp/StormCleanUp-1/6.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">StormCleanUp-1</a></h5>
                                    <a href="~/img/StormCleanUp/StormCleanUp-1/6.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Storm Relief">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/StormCleanUp/StormCleanUp-1/7.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">StormCleanUp-1</a></h5>
                                    <a href="~/img/StormCleanUp/StormCleanUp-1/7.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Storm Relief">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/StormCleanUp/StormCleanUp-1/8.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">StormCleanUp-1</a></h5>
                                    <a href="~/img/StormCleanUp/StormCleanUp-1/8.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                <img src="~/img/Stump Removal/StumpRemoval-1/StumpGrinding5.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-1/StumpGrindingCleanup5.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                <img src="~/img/Stump Removal/StumpRemoval-2/1.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-2/1.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Stump Removal/StumpRemoval-2/2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-2/2.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Stump Removal/StumpRemoval-2/3.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-2/3.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Stump Removal/StumpRemoval-2/4.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Leaf Removal</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-2/4.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Stump Removal/StumpRemoval-3/1.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Mowing</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-3/1.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Stump Removal/StumpRemoval-3/2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-3/2.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Stump Removal/StumpRemoval-4/1.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-4/1.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Stump Removal/StumpRemoval-4/2.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-4/2.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem  Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Stump Removal/StumpRemoval-5/Before.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-5/Before.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

            <article class="col-md-4 isotopeItem Tree Removal">
                <div class="portfolio-item">
                    <div class="wow rotateInDownRight">

                        <img src="~/img/Stump Removal/StumpRemoval-5/After.jpeg" />
                    </div>
                    <div class="portfolio-desc align-center">
                        <div class="folio-info">
                            <h5><a href="#">Windows</a></h5>
                            <a href="~/img/Stump Removal/StumpRemoval-5/After.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </article>



                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                <img src="~/img/Stump Removal/StumpRemoval-6/1.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-6/1.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                <img src="~/img/Stump Removal/StumpRemoval-6/2.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-6/2.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Stump Removal/StumpRemoval-6/3.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-6/3.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Stump Removal/StumpRemoval-7/1.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-7/1.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Stump Removal/StumpRemoval-7/2.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Leaf Removal</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-7/2.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Stump Removal/StumpRemoval-7/3.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Mowing</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-7/3.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Stump Removal/StumpRemoval-7/4.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-7/4.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Stump Removal/StumpRemoval-7/5 - Copy.jpeg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-7/5 - Copy.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Stump Removal/StumpRemoval-8/StumpRemoval-Front-Before.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-8/StumpRemoval-Front-Before.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Stump Removal/StumpRemoval-8/StumpRemoval-Front-After.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/StumpRemoval-8/StumpRemoval-Front-After.jpg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 isotopeItem Tree Removal">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft">
                                <img src="~/img/Stump Removal/FullStumpRemoval.jpg" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Equipment</a></h5>
                                    <a href="~/img/Stump Removal/FullStumpRemoval.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

        </div>
    </div>
</div>
</div>
