
@{
    ViewBag.Title = "Albums";
}

<title>
    Photos | TheNorthernHandyman
</title>

<!-- Page Content -->

<div class="container">

    <div class="row">
        <nav id="filter" class="col-md-12 text-center">
            <ul>
                <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Skid Steer">Skid Steer</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Landscape Design">Landscape Design</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Landscape Maintance">Landscape Maintance</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Snow Removal">Snow Removal</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Tree Removal">Tree Removal</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".Storm Relief">Storm Relief</a></li>
               </ul>
        </nav>
        <div class="col-md-12">
            <div class="row">
                <div class="portfolio-items isotopeWrapper clearfix" id="3">

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s"> 
                                <img src="~/img/Equipment/SkidSteer.PNG" alt="Skid steer" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/SkidSteer.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                <img src="~/img/Equipment/SkidSteerAttachment.PNG" alt="Skid Steer" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/SkidSteerAttachment.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Equipment/SkidSteerBlacktop.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/SkidSteerBlacktop.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/SkidSteerPipeAir.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Skid Steer</a></h5>
                                    <a href="~/img/Equipment/SkidSteerPipeAir.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/SnowBlower.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Snow Blower</a></h5>
                                    <a href="~/img/Equipment/SnowBlower.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Skid Steer">
                        <div class="portfolio-item">
                            <div class="wow rotateInDownRight">
                                <img src="~/img/Equipment/Sweeper.PNG" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Sweeper</a></h5>
                                    <a href="~/img/Equipment/Sweeper.PNG" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-4 isotopeItem Landscape Design">
                        <div class="portfolio-item">
                            <div class="wow bounceIn">
                                <img src="~/img/Landscape/24131023_1626467277374593_7423038814979355674_n.jpg"  alt="Patio" />
                            </div>
                            <div class="portfolio-desc align-center">
                                <div class="folio-info">
                                    <h5><a href="#">Landscape Design</a></h5>
                                    <a href="~/img/Landscape/24131023_1626467277374593_7423038814979355674_n.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem Landscape Design">
                            <div class="portfolio-item">
                                <div class="wow rotateInDownRight">
                                    <img src="~/img/Landscape/ jerky.jpeg"  alt="Brick paver" />
                                </div>
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#"> Landscape Design</a></h5>
                                        <a href="~/img/Landscape/ jerky.jpeg"  class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem Landscape Design">
                            <div class="portfolio-item">
                                <div class="wow rotateInDownRight">
                                    <img src="~/img/Landscape/Kyiv.jpeg"  alt="Lawn Repair" />
                                </div>
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Landscape Design</a></h5>
                                        <a href="~/img/Landscape/Kyiv.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem Landscape Design">
                            <div class="portfolio-item">
                                <div class="wow rotateInDownRight">
                                    <img src="~/img/Landscape/Our.jpeg"  alt="" />
                                </div>
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Landscape Design</a></h5>
                                        <a href="~/img/Landscape/Our.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem Siding">
                            <div class="portfolio-item">
                                <div class="wow rotateInUpLeft">

                                    <img src="../../Images/Siding/6.jpg" alt="" />
                                </div>
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Siding</a></h5>
                                        <a href="../../Images/Siding/6.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem Siding">
                            <div class="portfolio-item">
                                <div class="wow rotateInUpLeft">

                                    <img src="../../Images/Siding/4.jpg" alt="" />
                                </div>
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Siding</a></h5>
                                        <a href="../../Images/Siding/4.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem Siding">
                            <div class="portfolio-item">
                                <div class="wow rotateInUpLeft">
                                    <img src="../../Images/Siding/5.jpg" alt="" />
                                </div>
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Siding</a></h5>
                                        <a href="../../Images/Siding/5.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem Windows">
                            <div class="portfolio-item">
                                <div class="wow rotateInDownRight">

                                    <img src="../../Images/Windows/1.jpg" alt="" />
                                </div>
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Windows</a></h5>
                                        <a href="../../Images/Windows/1.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>


                </div>
            </div>

        </div>


    </div>
    <br />


