

@{
    ViewBag.Title = "FireWood | TheNorthernHandyman";
}
<div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="form-group col-md-5">
                <img src="~/img/FireWood/FireWoodPile1.jpg" />
            </div>
            <div class="form-group col-md-5">
                <h1 class="text-primary">FireWood</h1>
                
                    <h4><small>
                        $60/Face Cord of mixed hardwood.
                        Pick-Up or Delivery<br />
                        *Free* Delivery on purchases of 3-6 Face Cords<br /> within a 25 mile radius of New London WI,
                        </small>
                        <br />
                        <br />
                        @Html.ActionLink("Order", "Contact", "Home", new { area = "" }, new { @class = "btn btn-default btn-xs" })
                        </h4>
            </div>
        
        </div>
    </div>
</div>

<br />
<br />


