@*<hr class="text-primary" style="height:15px; border:none; background-color:#ff5821;" />*@
 <!--Body-->
<div class="hero" id="highlighted">
    <div class="inner">
        <!--Header-->
        <div id="highlighted-slider" class="container">
            <hr />
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp", "autoPlay":false}'>
                <!--Slideshow content-->
                <!--Slide 1-->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2>
                                <span class="text-primary">The Northern Handyman</span> Florida
                            </h2>

                            <p>

                                Fallen trees
                                Foliage, branches, and logs
                                Landscape bed debris
                                Storm drain refuse

                            </p>
                            <h2 class="text-success">
                                <b>
                                    We'll clean-up what the storm throws at you.
                                </b>
                            </h2>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Filler_ExtraImages/Equipment.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                    <hr>

                </div>
            </div>

        </div>
    </div>
    <!--Header-->
    <!--Slide Show/Service Row-->

    <div class="row">

       
        <div class="col-md-offset-2">
            @*This Is the Articles*@
            <div class="col-md-7">
                <div>

                    <p>
                        <h5></h5>
                    </p>
                </div>
                <!--Slide Show Images-->
                @*Max Height and image sets image size*@
                <figure>
                    <img src="~/img/StumpGrinding/received_243595782970730.jpeg" style="max-height:50em; max-width:50em;" />

                </figure>
                <!--Slide Show Images-->
                <br />
                <!--Showcase-->
                <div class="showcase block block-border-bottom-grey">
                    <div class="container">
                        <h2 class="block-title">
                            Before &amp; After Pictures
                        </h2>
                        <div class="container">
                            <p class="text-center">
                                Want to add life to your yard but dont know what to do? Give us a call!</ br>
                                The Northern Handyman will work with you to make every project, idea, or dream a reality.
                                We want to be the ones you choose to achieve the look you want.

                            </p>
                        </div>
                        <hr />
                        <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":4, "pagination":false, "navigation":true, "itemsScaleUp":true, "autoPlay":true}'>
                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/Projects/FirePit_1of2.jpg" alt="Fire Pit Before image" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Fire Pit Before</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Fire Pit Before</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/Projects/FirePit_2of2.jpg" alt="Project 2 image" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Fire Pit After</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Fire Pit After</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/Projects/FrontViewBefore.jpeg" alt="Patio Before" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Patio Before</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Patio Before</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/Projects/FrontPatioAfter.jpeg" alt="Patio Finished" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Patio After</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Patio After</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/TreeRemoval/TreeRemovalStart1-4.jpg" alt="Tree Removal Before" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Tree Removal Before</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Tree Removal Before</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/TreeRemoval/TreeRemovalFinish4-4.jpg" alt="Tree Removal Finish" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Tree Removal After</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Tree Removal After</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/StumpGrinding/StumpGrinding1.jpg" alt="Stump Grinding Before" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Stump Grinding Before</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Stump Grinding Before</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="overlay-wrapper">
                                    <img src="~/img/StumpGrinding/StumpGrindingCleanup1.jpg" alt="Stump Grinding After" class="img-responsive underlay" height="275" width="206">
                                    <span class="overlay">
                                        <span class="overlay-content"> <span class="h4">Project 8</span> </span>
                                    </span>
                                </a>
                                <div class="item-details bg-noise">
                                    <h4 class="item-title">
                                        <a href="#">Stump Grinding After</a>
                                    </h4>
                                    <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            @*Side Panel*@
            <div class="col-md-3">
                <!--Side Panel Header-->
                <h2 class="text-primary"><b>Services</b> </h2>
                <!--Hurricane Header-->
                <h2 class="text-success">Hurricane Clean-up</h2>
                <hr class="text-primary" />
                <!--Hurricane Header-->
                <!--List of Hurricanes w/Images-->
                <!--Photo-1-->
                <div>
                    <figure class="col-md-5">
                        <img src="~/img/StumpGrinding/received_243595782970730.jpeg"
                             style="max-height:7em;
                             max-width:7em;" />
                        <!--Add Captions Here-->
                        <figcaption class="text-primary"></figcaption>
                    </figure>
                    <!--Ifo-->
                    <div class="col-md-6"
                         style="margin-left:5px">
                        <p class="text-primary">
                            Well This is the message next to the image'
                        </p>
                    </div>
                </div>
                    <!--Photo-1-->
                    <!--Photo-2-->
                    <!--List of Services w/Images-->
                    <b class="text-primary col-md-12">
                        Micheal
                    </b>
                </div>
                <p class="col-md-12"> </p>
                <p class="col-md-12"> </p>
            <!--Service Header-->
                <h2 class="text-success">Stump Grinding</h2>
                <hr />

            
                <div>
                    <!--Slide Show Images-->
                    <figure class="col-md-5">
                        <img src="~/img/StumpGrinding/received_243595782970730.jpeg" style="max-height:7em; max-width:7em;" />
                        @*Add Caption Here*@<figcaption class="text-primary"></figcaption>
                    </figure>
                    <!--Slide Show Images-->
                    <div class="col-md-6" style="margin-left:5px">
                        <p class="text-primary">Well This is the message next to the image</p>
                    </div>
                    <b class="text-primary col-md-12">2,500 Views</b>
                </div>
            <!--Photo-2-->
                @*Article2*@
                <br />
                <br />
                <div>
                    <figure class="col-md-5">
                        <img src="~/img/StumpGrinding/received_243595782970730.jpeg" style="max-height:7em; max-width:7em;" />
                        @*Add Caption Here*@<figcaption class="text-primary"></figcaption>
                    </figure>
                    <div class="col-md-6" style="margin-left:5px">
                        <p class="text-primary">Well This is the message next to the image</p>
                    </div>
                    <br />
                    <b class="text-primary col-md-12">2,500 Views</b>
                </div>
                @*Article3*@
                <br />
                <br />
                <div>
                    <figure class="col-md-5">
                        <img src="~/img/StumpGrinding/received_243595782970730.jpeg" style="max-height:7em; max-width:7em;" />
                        @*Add Caption Here*@<figcaption class="text-primary"></figcaption>
                    </figure>
                    <div class="col-md-6" style="margin-left:5px">
                        <p class="text-primary">Well This is the message next to the image</p>
                    </div>
                    <br />
                    <b class="text-primary col-md-12">2,500 Views</b>
                </div>





            </div>
        </div>
    </div>
</div>