@{
    ViewBag.Title = "Tree Removal";
}

<div class="hero" id="highlighted">
    <div class="inner">

        <hr />
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->
                <!--Slide 1  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL<br /> <span class="text-primary"> TRIMMING</span>
                            </h2>
                            <h4></h4>
                            <p>
                                Dead branches are the result of a tree's natural life cycle.
                                The dead limbs can become a site for diseases, fungus and molds.
                                Pruning the dead wood can help to transform the trees on your
                                property into healthy, beautiful well-manicured landscape design.
                            </p>
                        </div>

                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Trimming/Trimming_Boom_edited.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL <br />
                                <span class="text-primary">SMALL & LARGE TREES</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                One of the first steps of having the best looking yard is lawn mowing.
                                The Northern Handyman offers grass cutting services for
                                homes and commercial lots. Mowing your lawn at the right times and on
                                a regular basis will give you stronger, healthier grass.
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/TreeRemoval/LargeTree_210x280.png"  alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 3  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL<br />
                                <span class="text-primary">LOT CLEARING</span>
                            </h2>

                            <h4 style="padding-left:2em;">

                            </h4>
                            <p style="padding-left:2em;">                               
                                Do you have a section of your property that's never been
                                used because nature has had its way?
                                Would you like to add this section to your usable property,
                                or, perhaps, expand your existing lawn? The Northern Handyman
                                can help you take the steps in the process of removing all
                                trees, stumps, rocks and brush that stand in the way. 
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/LimbRemoval/LimbRemoval_Edited.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 4  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL<br />
                                <span class="text-primary">
                                    STUMP GRINDING
                                </span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                Are you ready to dump that tree stump? Once a tree is removed,
                                the stump is left behind. With one phone call to The Northern
                                Handyman, we can assess the stump, determine a budget, set a
                                date to remove the stump, and remove it with little effort.
                                You can say goodbye to that stump forever!
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/StumpGrinding/StumpRemoval_edited.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 5  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL<br />
                                <span class="text-primary">
                                    STORM DAMAGE REPAIR/CLEAN-UP
                                </span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                When proper care and attention is given to your trees and shrubs you can expect to have
                                beautiful greenery year after year. Our team will prune and trim your plants keeping
                                them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
                                by shaping your trees and shrubs into works of art.
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Filler_ExtraImages/stormdamage2_edited.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr />
    </div>
</div>

   
     
