
@{
    ViewBag.Title = "LawnService";
}

<h2>LawnService</h2>

  One of the first steps of having the best looking yard is lawn mowing.
                                The Northern Handyman offers grass cutting services for
                                homes and commercial lots. Mowing your lawn at the right times and on
                                a regular basis will give you stronger, healthier grass.

<p style="padding-left:2em;">
    No one likes the yearly chore of raking leaves...But the task
    of raking leaves cannot be neglected. leaves left on your lawn
    during the snowfall, will end up smothering and killing the grass you
    worked so hard to maintain. <br />
    Call The Northern Handyman to get those leaves
    out of your yard before winter.
</p>

<p style="padding-left:2em;">
    When proper care and attention is given to your trees and shrubs you can expect to have
    beautiful greenery year after year. Our team will prune and trim your plants keeping
    them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
    by shaping your trees and shrubs into works of art.
</p>

     When proper care and attention is given to your trees and shrubs you can expect to have
                                beautiful greenery year after year. Our team will prune and trim your plants keeping
                                them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
                                by shaping your trees and shrubs into works of art.