
@{
    ViewBag.Title = "SkidSteerWork";
}


<div class="hero" id="highlighted">
    <div class="inner">
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->
                <!--Slide 1  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK<br /> <span class="text-primary"> LAND SCAPING</span>
                            </h2>
                            <h4></h4>
                            <p>

                                Have a Large project were you need truck beds full of mulch or that need to be moved from
                                place to place through out the yard
                                or loads of topsoil that you want leveled? A skid steer may be your solution.
                                These machines are great for lifting and hauling things
                                such as pallets of pavers, mulch or plants around jobsites.
                                </br>

                                Give the northern handyman a  call and we'll accompany you by
                                providing you with the necessary equipment needed to get the job done.
                            </p>
                        </div>

                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Equipment/SkidSteer.PNG" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK
                                <span class="text-primary">DRIVEWAY RECONSTRUCTION</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                              
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/SKIDSTEER/received_1898246343800709.jpeg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 3  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK
                                <span class="text-primary">SWEEPING</span>
                            </h2>

                            <h4 style="padding-left:2em;">
                                *PARKING LOTS
                                <br /> *Grass
                            </h4>
                          
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Equipment/Sweeper.PNG" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 4  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK<br />
                                <span class="text-primary">
                                    SNOW Removal
                                </span>
                            </h2>

                            <h4 style="padding-left:2em;">

                            </h4>
                            <p style="padding-left:2em;">
                                Snow is an incredible hassle for homeowners and business owners across Wisconsin.
                                Depend on us to give you fast, efficient, and reliable commercial and residential snow removal services.
                                 Whether you need commercial services or residential services, we'll work with you to develop
                                 a comprehensive winter maintenance plan to fit you budget and needs. 
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Equipment/SnowBlower2.PNG" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container" style="width:75%">
    <!--Row-->
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="jumbotron">
                <h2 class="text-light-weight" style="font-style:italic">OUR SERVICE...</h2>
                Our customers are our FIRST priority and we provide an array of tree services to
                make your life easier and help make your home or business look beautiful..you’re in great hands with us at
                The Northern Handyman.
            </div>
        </div>
    </div>
</div>