
@{
    ViewBag.Title = "TreeRemoval";
}

<h2>TreeRemoval</h2>



@{
    ViewBag.Title = "TreeRmoval";
}
<div class="hero" id="highlighted">
    <div class="inner">

        <hr />
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->
                <!--Slide 1  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL  <span class="text-primary"> Trimming</span>
                            </h2>
                            <h4></h4>
                            <p>
                                Lawn edging gives your lawn a clean, sharp appearance
                                and provides a barrier between the grass and flowerbeds.
                                Lawns can end up looking sloppy without proper edging,
                                Eding also make it easier to mow properly.
                                Talk to our  team about edging material
                                options.
                            </p>
                        </div>

                        <div class="col-md-6 hidden-xs">
                            
                            <img src="~/img/Trimming/Trimming_Boom.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL
                                <span class="text-primary">Small and Large Trees</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                One of the first steps of having the best looking yard is lawn mowing.
                                The Northern Handyman offers grass cutting services for
                                homes and commercial lots. Mowing your lawn at the right times and on
                                a regular basis will give you stronger, healthier grass.
                            </p>
                        </div>
                        <img src="~/img/TreeRemoval/received_1832107547081256.jpeg" alt="Slide 2" class="center-block img-responsive">

                    </div>
                </div>
                <!--Slide 3  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL
                                <span class="text-primary">Lot Clearing</span>
                            </h2>

                            <h4 style="padding-left:2em;">*Brush/Leaf Removal</h4>
                            <p style="padding-left:2em;">
                                No one likes the yearly chore of raking leaves...But the task
                                of raking leaves cannot be neglected. leaves left on your lawn
                                during the snowfall, will end up smothering and killing the grass you
                                worked so hard to maintain. <br />
                                Call The Northern Handyman to get those leaves
                                out of your yard before winter.
                            </p>
                        </div>
                        <img src="~/img/Mowing/spring_cleanup.jpg" alt="Slide 2" class="center-block img-responsive">

                    </div>
                </div>
                <!--Slide 4  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL
                                <span class="text-primary">Brush Removal/Chipping</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                When proper care and attention is given to your trees and shrubs you can expect to have
                                beautiful greenery year after year. Our team will prune and trim your plants keeping
                                them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
                                by shaping your trees and shrubs into works of art.
                            </p>
                        </div>
                        <img src="~/img/Brush Remoal-Hogging/PileofBrush.jpg" alt="Slide 2" class="center-block img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL
                                <span class="text-primary">Stump Grinding/Clean Up</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                When proper care and attention is given to your trees and shrubs you can expect to have
                                beautiful greenery year after year. Our team will prune and trim your plants keeping
                                them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
                                by shaping your trees and shrubs into works of art.
                            </p>
                        </div>
                        <img src="~/img/StumpGrinding/received_243595782970730.jpeg"  alt="Slide 2" class="center-block img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                TREE REMOVAL
                                <span class="text-primary">Storm Damage Repair/Removal</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                When proper care and attention is given to your trees and shrubs you can expect to have
                                beautiful greenery year after year. Our team will prune and trim your plants keeping
                                them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
                                by shaping your trees and shrubs into works of art.
                            </p>
                        </div>
                        <img src="~/img/Filler_ExtraImages/stormdamage_edited.jpg" alt="Slide 2" class="center-block img-responsive">
                    </div>
                </div>
                <div class="col-md-4">
                    
                    <p>
                        Landscaping has been my passion for many years, its more then
                        just clearing out existing shrubbery, but what it can be shaped into.
                        We'll help you from design to installation.
                        Mulch, stone, plants...ect.
                        I do every job as if it was my home, which means i’m going to do
                        it right the first time.
                    </p>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>